body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'ChristmasFont'; /* The name you will use in CSS */
  src: url('./merry-christmas-flake.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: lighter; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}